# Mise en situation : 
Nous sommes dans le contexte où des coureurs parcours une certaine distance et reçoivent un certain 
classement en fonction de la distance parcourue. <br>
Entre [0;25] kms -> D <br>
Entre ]25;50] kms -> C <br>
Entre ]50;75] kms -> B <br>
Entre ]75;100] kms -> A 

# Objectif :
Créer un réseau de neurones qui est en capacité de comprendre ce phénomène en faisant de la classification multi-classe correctement pour les coureurs en fonction de leur distance parcourue. Notre modèle devra analyser les données pour faire le lien entre les kilomètres et le classement en conséquence, chose dont il n'a pas connaissance à son initialisation. Nous nous baserons sur la librairie pytorch pour exécuter notre plan.

In [23]:
# import des librairies
import torch
import torch.nn as nn
import torch.optim as optim
import random
import numpy as np
import pandas as pd

# PARTIE 1 :

# Mise en place du jeu de données

In [17]:
# Génération des kilomètres (kms) aléatoirement
kms = np.random.uniform(1, 100, 10000)
df = pd.DataFrame({'kilometres': kms})
df.head()

   kilometres
0   24.932728
1   20.039280
2   61.909641
3   89.454986
4   21.024683

In [21]:
def label_kms(km):
    if 0 <= km <= 25:
        return 4
    elif 25 < km <= 50:
        return 3
    elif 50 < km <= 75:
        return 2
    else :
        return 1

In [22]:
# mise en place des labels 
# 4 -> D / 3 -> C / 2 -> B / 1 -> A
df['label'] = df['kilometres'].apply(label_kms) #la fonction apply prends ce qu'il y a en ammont comme argument de fonction
df.head()

   kilometres  label
0   24.932728      4
1   20.039280      4
2   61.909641      2
3   89.454986      1
4   21.024683      4